---
layout: default
---
{% if page.series %}
{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
    {% if post.series == page.series %}
        {% capture count %}{{ count | plus: '1' }}{% endcapture %}
        {% if post.url == page.url %}
            {% capture idx %}{{count}}{% endcapture %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="panel">
  <p>
    This article is <strong>Part {{ idx }}</strong> in a <strong>{{ count
    }}-Part</strong> series of {{ page.series }}.
  </p>
  <ul>
    {% assign count = '0' %}
    {% for post in site.posts reversed %}
    {% if post.series == page.series %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    <li>Part {{ count }} - 
      {% if page.url == post.url %}
      {{ post.title }}
      {% else %}
      <a href="{{post.url}}">{{post.title}}</a>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if page.date or page.author %}
  <div class="alert alert-light">
    <span class="badge">Posted on: {{ page.date | date: "%-d %B, %Y"  }}</span>
    <div class="float-right">
      <span> By {{ page.author | capitalize }} </span>
    </div>
  </div>
{% endif %}
<hr>
{{ content }}

<hr>
<div class="float-right">
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag | slugify }}" class="badge badge-dark">
    {{ tag }}
  </a>
  {% endfor %}
</div>
